<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baobab"
        android:label="Baobab"
        android:roundIcon="@drawable/baobab"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity

            android:name=".Custom_Dialog"
            android:exported="false" />
        <activity android:name=".information"
            android:exported="false"/>
        <activity android:name=".information2"
            android:exported="false"/>
        <activity android:name=".plantgram"
            android:exported="false"/>
        <activity android:name=".plantgram2"
            android:exported="false"/>
        <activity android:name=".myplant_in2"
            android:exported="false"/>
        <activity android:name=".fav"
            android:exported="false"/>

        <activity
            android:name=".myplant_quest"
            android:exported="false" />
        <activity
            android:name=".myplant_BLE"
            android:exported="false" />
        <activity
            android:name=".myplant_plus" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"

            android:exported="false" />
        <activity
            android:name=".Activity_myplant_in"
            android:exported="false" />
        <activity
            android:name=".mypalnt"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>